body {
  font-family: 'Open Sans', sans-serif;
}

.cover {
  background-image: url(resources/img/pencils.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color:#b9bac3;
  position: relative;
  text-align: center;
  color:#383432;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 75px;
  font-weight: 1000;
}

.profession {
  font-size: 20px;
}

.links-container a {
  color:#383432;
}

.icon {
  color:white;
  width: 1500px;
  height: 200px;
  /*border: 5px solid green;*/
}

.img-container {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.web-img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.web-img:hover {
  transform: scale(1.5);
}
